nav {
    display: flex;
    height: 60px;
    padding: 0px 24px;
    gap: 32px;
    align-self: stretch;
    justify-content: center;
}

.navItem {
    font-size: 12px;
    text-transform: uppercase;
}

header {
    width: 90vw;
    padding: 30px 0 30px 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.headerLeft {
    width: 80vw;
}

.headerRight {
    display: none
}

.badge {
    font-size: 16px;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.64px;
    margin-bottom: 30px;
}

header h1 strong {
    max-width: 230px;
}

.headerBtn {
    width: 25vw;
    padding: 16px 5vw;

    font-family: Pretendard;
    font-size: 14px;    
}

.introduction {
    padding: 60px 24px;
}

.introduction h2 {
    font-size: 18px;
}

.introduction p {
    font-size: 14px;
    /* white-space: initial; */
    text-wrap: pretty !important;
}

.introduction img {
    width: 20vw;
    height: auto;
    top: 3vh;
    right: 15vw;
}

.techStack {
    padding: 60px 24px;
}

.techStack h2 {
    font-size: 24px;
}

.techStack p {
    font-size: 14px;
    margin-bottom: 32px;
}

.techImgs {
    margin-top: 0px;
}

.techImg {
    width: 20vw;
    height: auto;
    padding: 0;
    margin: 24px 0;
}

.projectList {
    margin: 60px 24px;
    padding: 0px;
    
}

.projectCard {
    display: flex;
    flex-direction: column-reverse;
}

.projectCardRight {
    width: 80vw;
}

.projectImg {
    width: 30%;
    height: auto;
    margin: 24px 0 12px 0;
}

.projectCardLeft {
    align-self: flex-start;
    padding: 10px 3vw;
    width: 80vw;
}

/* .projectCardLeft h2 {} */

.projectCardLeft h6 {
    margin-bottom: 10px;
}

.projectCardLeft p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
}

/* .projectCardLeft a {} */

/* 24 14 12 */
.commentList {
    padding: 60px 0px;
}

.commentList h2 {
    font-size: 24px;
    font-weight: 700;
}

.commentCardScroll {
    width: 100vw;
    flex-direction: column;
    overflow-x: unset;
    justify-content: center;
}

.emptyCommentCard {
    display: none;
}

.commentCard {
    width: 70vw;
    padding: 0 5vw;
    align-self: center;
}

.commentCard p {
    font-size: 14px;
    font-weight: 600;
}

.commentCard h4 {
    width: fit-content;
    font-size: 12px;
    color: #1866AF;
    align-self: flex-end;
}

.ambition h2 {
    font-size: 24px;
}

footer {
    flex-direction: column-reverse;
}

.footerLinks a {
    margin: 0 10px;
}

.footerImg {
    width: 30px;
    height: 30px;
}

.fixedBtn {
    display: none;
}