@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    margin: 0;
    /* transform: scale(0.75); */
}

nav {
    /* allign items with gap */
    display: flex;
    gap: 40px;
    height: 100px;
    align-items: center;
    padding: 0 120px 0 120px;
}

.navItem {
    color: #403930;
    font-size: 20px;
    font-weight: 600;
    font-family: "Pretendard";
    line-height: 1.5;
    letter-spacing: -0.1px;
}

header {
    padding: 100px 120px 100px 120px;
    display: flex;
    font-family: 'Pretendard';
    max-width: 1290px;
    margin: 0 auto;
}

.headerLeft {
    width: 60vw;
}

.headerRight {
    width: 40vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.badge {
    padding: 12px 24px;
    border-radius: 10px;
    background-color: #e6eeff;
    width: fit-content;
    margin: 0px 0px 40px 0px;
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

header h1 {
    color: #333;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    letter-spacing: -1.28px;
    font-size: 64px;
    margin-bottom: 50px;
}

header h1 strong {
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 2px;
    /* fade in animation */
    /* animation: fadeIn 3s ease-in; */
    /* typing animation */
    display: inline-block;
    white-space: nowrap;
    max-width: 450px;
    border-right: 3px solid black;
    animation: typingEffect 5s steps(25) infinite, blink .5s step-end infinite alternate;
    /* animation: typingEffect 5s steps(17) infinite; */
}

.headerBtns {
    display: flex;
    gap: 16px;
}

.headerBtn {
    display: flex;
    width: 189px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 4px solid #403930;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */

    text-decoration: none;
}

.profileImg {
    width: 355.624px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 500px;
    border: 10px solid #BCF2F9;
    /* background: url("https://plus.unsplash.com/premium_photo-1674688194029-17dda3aaf779?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2t8ZW58MHx8MHx8fDA%3D"), lightgray 50% / cover no-repeat; */
}

.introduction {
    position: relative;
    white-space: pre;
    padding: 100px 120px;
    font-family: 'Pretendard';
    /* background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%); */
    max-width: 1290px;
    margin: 0 auto;
}

.introduction h2 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
    margin: 0;
}

.introduction p {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    margin: 0;
}

.introduction img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 120px;
    right: 300px;
}

.techStack {
    text-align: center;
    align-content: center;
    padding: 100px 120px;
    font-family: 'Pretendard';
    max-width: 1290px;
    margin: 0 auto;
}

.techStack h2 {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 65% */
    letter-spacing: -0.8px;
}

.techStack p {
    color: #333;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
}

.techImgs {
    margin-top: 80px;
    width: 100%;
}

.techImg {
    width: 120px;
    height: 120px;
    padding: 5px;
    margin: 20px 40px;
}

.fixedBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 100px;
    bottom: 40px;

    width: 165px;
    height: 88px;

    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);

    color: rgba(64, 57, 48, 0.80);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* @media (max-width: 768px) {
    .fixedBtn {
        display: none;
    }
} */

/* animation */
@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes typingEffect {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
    
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
    
}